footer{
    background-image: linear-gradient(to bottom,var(--project-color-dark),var(--project-color-dark),var(--project-color-dark),var(--project-color-dark),var(--project-color-dark));
    color:var(--project-color-4);
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    font-style: italic;
    bottom: 0;
    animation: corInicial 0.1s linear;
    animation-delay: 0.1s;
    box-shadow: 0 0 10px black;

}



footer ul{
    padding: 0.2em 0.8em 0.2em 0;
}