#doctor-card{
    width: 100%;
    margin: 1em 0em;
}


#doctor-card fieldset{
    width: 100%;
}

#doctor-card fieldset legend{
    display: flex;
    justify-content: space-between;
}


#doctor-card fieldset div{
    display: flex;
    justify-content: space-evenly;
}

#doctor-card fieldset div + div{
    background-color: blue;
}
#doctor-card fieldset button {
    margin-left: 1em;
}
