#speciality-modal{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top:0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    z-index: 100;
    align-items: center;
    overflow-y: auto;
}

#speciality-modal fieldset{
    background-color: rgba(255,255,255,0.1);
    width: 50%;
    border-radius: 1.5em;
    display: flex;
    height: 90%;
    overflow-y: auto;
}

#speciality-modal fieldset div ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70vh;

}

#speciality-modal fieldset div ul li{
    display: flex;
    margin-top: 0.8em;
    height: 1.2em;

}

#speciality-modal fieldset div ul li button {
cursor: pointer;
    height: 1.5em;
    margin-top: -0em;
}


#speciality-modal fieldset div + div{
    display: flex;
    width: 100%;
    margin-left: 0;
    padding: 0;
    justify-content: space-around;
}
#speciality-modal fieldset div + div button{
    margin-top: 3em;
    width: 40%;
}

